@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-b-webfont.woff2") format("woff2");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-medium-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Ubuntu';
  src: url("../fonts/ubuntu/ubuntu-regular-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Gagalin';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Lifehack';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal; }
@media screen and (max-width: 768px) {
  html {
    font-size: 0.9375rem; } }
@media screen and (max-width: 480px) {
  html {
    font-size: 0.8125rem; } }

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body,
html {
  height: 100%; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  margin: -0.0625rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.hamburger-menu-link {
  display: none;
  width: 1.5rem;
  height: 0.25rem;
  background-color: #fff;
  border-radius: 0.125rem;
  position: relative;
  margin: 1.5625rem 1.875rem; }
  .hamburger-menu-link:before {
    content: "";
    width: 1.5rem;
    height: 0.25rem;
    background-color: #fff;
    border-radius: 0.125rem;
    position: absolute;
    top: 0.625rem; }
  .hamburger-menu-link:after {
    content: "";
    width: 1.5rem;
    height: 0.25rem;
    background-color: #fff;
    border-radius: 0.125rem;
    position: absolute;
    top: -0.625rem; }
  @media screen and (max-width: 768px) {
    .hamburger-menu-link {
      display: block; } }

.wrapper {
  width: 100%;
  min-height: 100%;
  position: relative;
  /*overflow: hidden;*/ }

.maincontent {
  height: 100%;
  min-height: 40.625rem; }

.container {
  width: 95%;
  max-width: 58.75rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-height: 40.625rem; }

.order-link {
  min-width: 6.125rem;
  padding: 0.625rem 1.0625rem;
  border-radius: 0.3125rem;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s; }
  .order-link:hover {
    background-color: #cb411b; }

.hero {
  background-image: url("../img/bg/hero_bg.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative; }

.header__menu {
  margin-top: -0.625rem; }
  @media screen and (max-width: 768px) {
    .header__menu {
      display: none; } }

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.25rem; }

.header__logo {
  margin-right: auto; }

.nav {
  margin-right: 1rem; }

.nav__list {
  margin: 0;
  padding: 0; }

.nav__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .nav__item:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 0.3125rem;
    height: 0.3125rem;
    border-radius: 0.15625rem;
    background-color: #fff;
    margin: 0 0.75rem; }
  .nav__item:last-child:after {
    display: none; }

.nav__link {
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  transition: .5s; }
  .nav__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.hero__pic {
  margin: -5.4375rem 0 0 0.9375rem;
  max-width: 100%;
  height: auto; }
  @media screen and (max-width: 768px) {
    .hero__pic {
      margin: 0; } }

.next-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 10%; }
  @media screen and (max-width: 480px) {
    .next-page {
      height: 10%; } }

.hero__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media screen and (max-width: 768px) {
    .hero__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; } }

.logo__img {
  margin-top: 0.375rem;
  margin-left: -0.375rem; }

.hero__img,
.hero__description {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.hero__img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 480px) {
    .hero__img {
      width: 70%; } }

.hero__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0.625rem;
  padding-bottom: 1.125rem; }
  @media screen and (max-width: 768px) {
    .hero__description {
      padding-left: 0;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.logo {
  display: inline-block; }

.section__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1.42;
  margin: 0;
  white-space: nowrap; }
  @media screen and (max-width: 480px) {
    .section__title {
      font-size: 3.375rem; } }

.hero__description-text {
  color: #ffffff;
  font-family: 'Lifehack';
  font-size: 4.0625rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: -0.0625rem; }
  @media screen and (max-width: 768px) {
    .hero__description-text {
      display: inline-block;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .hero__description-text {
      font-size: 2.5rem; } }

.best {
  width: 100%;
  height: 100%;
  min-height: 40.625rem;
  background: url(../img/bg/best-bg.png) center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden; }

.head-text {
  font-family: Gagalin, sans-serif;
  font-size: 4.5rem;
  color: #2f3234;
  line-height: 4rem;
  margin-top: -10%;
  font-weight: 500; }
  @media screen and (max-width: 480px) {
    .head-text {
      font-size: 3.5rem; } }

.ingradients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 5.4375rem; }
  @media screen and (max-width: 480px) {
    .ingradients {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.ingradients__logo--meat {
  fill: #E35028; }

.ingradients__logo--hand {
  fill: #F9B43B; }

.ingradients__logo--natural {
  fill: #8BC03F; }

.ingradients__logo {
  width: 5.9375rem;
  height: 6.25rem;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center; }
  @media screen and (max-width: 480px) {
    .ingradients__logo {
      display: block;
      width: 70px;
      height: 80px; } }

.ingradients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%; }
  @media screen and (max-width: 480px) {
    .ingradients__item {
      width: 100%;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      text-align: left; } }

.ingradients__description--padd {
  padding: 0 1.4375rem; }

.ingradients__title {
  font: 300 24px Lifehack;
  color: #2f3234;
  line-height: 1.75rem; }
  @media screen and (max-width: 480px) {
    .ingradients__title {
      font-size: 1.125rem; } }

.ingradients__description {
  font: 300 14px Ubuntu;
  color: #2f3234;
  margin-top: 1.125rem;
  line-height: 1.5rem;
  opacity: .5;
  padding-left: 0.125rem; }
  @media screen and (max-width: 480px) {
    .ingradients__description {
      font-size: 0.6875rem; } }

.ingradients__logo {
  margin-bottom: 1.75rem; }

@media screen and (max-width: 480px) {
  .ingradients__text {
    padding: 0 0 22px 19px; } }

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.reviews__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.reviews__item {
  width: 25%;
  height: 50%; }
  @media screen and (max-width: 768px) {
    .reviews__item {
      width: 50%;
      height: 25%; } }

.review {
  height: 100%;
  position: relative; }
  .review:hover .review__hover {
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    opacity: 1; }

.review__photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(1);
          filter: grayscale(1); }

.review__hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
  padding: 3.125rem 1.875rem 0rem 1.25rem;
  background-color: rgba(0, 1, 5, 0.7); }
  @media screen and (max-width: 768px) {
    .review__hover {
      padding: 0;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .review__hover {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.review__title {
  font-family: 'Gagalin';
  font-size: 0.875rem;
  margin: 0.375rem 0 1.25rem 0.1875rem;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .review__title {
      margin: 0;
      font-size: 1.1875rem;
      padding-bottom: 10px; } }

.review__shorttext {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem;
  margin-bottom: 0.625rem;
  padding-left: 0.1875rem; }
  @media screen and (max-width: 480px) {
    .review__shorttext {
      display: none;
      padding-top: 20px; } }

.review__button-wrap {
  padding-left: 0.25rem; }

.review__view {
  display: inline-block;
  width: 6.875rem;
  border-radius: 0.3125rem;
  background-color: #2f3234;
  padding: 0.625rem 0.9375rem;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s; }
  .review__view:hover {
    background-color: #232527; }

.team {
  background: url(../img/content/team/team.jpg) center center no-repeat;
  background-size: 100% 100%;
  position: relative; }

.team-right {
  background: #343739;
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  opacity: .9; }
  @media screen and (max-width: 768px) {
    .team-right {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      /* align-items: center; */
      width: 100%;
      text-align: center; } }

.team-content {
  padding-top: 13%;
  margin-left: 5.625rem; }
  @media screen and (max-width: 768px) {
    .team-content {
      margin: 0;
      padding-top: 3%; } }

.accordion {
  margin-left: -2%;
  list-style: none; }

.team-content__text {
  color: #f8b43a;
  font: 500 4.5rem Gagalin;
  padding-bottom: 14%; }
  @media screen and (max-width: 768px) {
    .team-content__text {
      padding-bottom: 5%; } }

.accordion__list {
  padding-bottom: 1.875rem; }

.accordion__item {
  cursor: pointer; }

.accordion__title {
  color: #fff;
  font: 700 0.875rem Gagalin;
  cursor: pointer;
  margin-left: 0.5625rem;
  text-decoration: none; }
  .accordion__title:before {
    content: "";
    width: 0rem;
    height: 0rem;
    border: 0.375rem solid transparent;
    border-top-color: #f8b43a;
    border-bottom: none;
    margin-right: 0.375rem;
    vertical-align: middle;
    display: inline-block; }
  @media screen and (max-width: 768px) {
    .accordion__title {
      font-size: 1.5625rem; } }

.accordion__crew {
  margin-top: 0.625rem;
  display: none; }

.accordion__img {
  width: 6.25rem;
  height: 6.25rem;
  background: url(../img/content/team/aphex.png) -12px -1px no-repeat;
  border-radius: 50%;
  display: inline-block;
  margin-left: 1.625rem; }

.accordion__description {
  display: inline-block;
  color: white;
  max-width: 14.5625rem;
  vertical-align: top;
  margin: -0.125rem 0 0 1.0625rem; }
  @media screen and (max-width: 768px) {
    .accordion__description {
      margin: 0.875rem 0 0 1.0625rem;
      max-width: 20.5625rem; } }

.accordion__job {
  font: 700 0.875rem Ubuntu;
  padding-bottom: 1rem; }

.accordion__text {
  font: 300 0.875rem Ubuntu;
  line-height: 1.4375rem; }

.accordion__list {
  margin-bottom: 0.3125rem; }
  .accordion__list.active .accordion__crew {
    display: block; }
    @media screen and (max-width: 768px) {
      .accordion__list.active .accordion__crew {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center; } }
  .accordion__list.active .accordion__title {
    color: #f8b43a; }
    .accordion__list.active .accordion__title:before {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      margin-top: -0.3125rem; }

.order {
  background: url(../img/content/order/Rectangle6.jpg) center center no-repeat;
  background-size: cover; }

.order__title {
  color: #f9b43b;
  font-family: 'Gagalin';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.42;
  margin-top: -100px;
  padding-bottom: 42px;
  text-align: center;
  font-weight: 500; }
  @media screen and (max-width: 768px) {
    .order__title {
      margin: 0;
      padding: 0; } }
  @media screen and (max-width: 480px) {
    .order__title {
      font-size: 3.5rem; } }

.order__btn {
  margin-right: 14px; }

.form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Ubuntu;
  font-weight: 300;
  font-size: 14px; }

.order__form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff; }
  @media screen and (max-width: 768px) {
    .order__form {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }

.order__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.25rem; }
  @media screen and (max-width: 768px) {
    .order__block {
      margin: 0; } }

.order__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 0.8125rem; }

.order__input {
  border-radius: 0.3125rem;
  display: block;
  width: 100%;
  height: 2.1875rem;
  border: none;
  padding: 5px;
  outline: none; }

.order__desc {
  padding-bottom: 0.5rem;
  display: inline-block;
  font-family: Ubuntu;
  font-weight: 300; }

.order__street {
  width: 100%; }

.order__location {
  width: 6.25rem; }

.order__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1.25rem; }
  .order__name:last-child {
    margin: 0; }

.order__name--space {
  margin: 0; }

.order__street {
  width: 100%; }

.order__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1.25rem; }
  .order__address:last-child {
    margin: 0; }

.order__comment {
  padding: 0.625rem 0 0 0.625rem;
  display: block;
  width: 100%;
  height: 6.875rem;
  resize: none;
  border: none;
  border-radius: 0.3125rem;
  outline: none; }

.order__block--padd {
  padding-top: 13px;
  width: 97%; }

.order__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px; }
  @media screen and (max-width: 480px) {
    .order__offer {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.order__reset {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer; }

.input-form__radio-fake {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  vertical-align: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.625rem; }
  .input-form__radio-fake:after {
    content: '';
    width: 0.4375rem;
    height: 0.4375rem;
    background-color: #e35028;
    border-radius: 50%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: .3s;
    transition: .3s; }

.order__money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-bottom: 0.9375rem;
  padding-top: 0.625rem; }
  @media screen and (max-width: 480px) {
    .order__money {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.order__Elevation {
  display: none; }

.order__radio-elem {
  position: absolute;
  top: 0;
  left: -9999px; }

.order__radio-fake::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #e35028;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s; }

.order__radio-fake {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.order__radio-elem:checked + .order__radio-fake:after {
  width: 8px;
  height: 8px; }

.order__radio_checkbox .order__radio-fake {
  border-radius: 0px; }

.order__radio {
  position: relative;
  white-space: nowrap;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer; }
  @media screen and (max-width: 480px) {
    .order__radio {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.order__radio-elem {
  position: absolute;
  top: 0;
  left: -9999px; }

.order__radio-fake {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  position: relative; }

.order__radio-fake:after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #e35028;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: width .3s, height .3s;
  transition: width .3s, height .3s; }

.order__radio-elem:checked + .order__radio-fake:after {
  width: 8px;
  height: 8px; }

.order__radio-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  margin-left: 4px; }

.order__radio_checkbox .order__radio-fake {
  border-radius: 0px; }

.order__radio_checkbox .order__radio-elem + .order__radio-fake:after {
  background: transparent; }

.order__radio_checkbox .order__radio-elem:checked + .order__radio-fake:after {
  background: url("../img/content/check.png") 50% no-repeat transparent;
  background-size: contain;
  width: 11px;
  height: 9px; }

.menu {
  background: url(../img/content/menu/Rectangle4.jpg) center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative; }

.menu__text {
  color: #fff;
  font: 700 4.5rem Gagalin;
  padding-bottom: 4rem;
  display: inline-block;
  padding: 6rem 0 0 6rem;
  font-weight: 500; }
  @media screen and (max-width: 480px) {
    .menu__text {
      padding: 6rem 0 0 3rem;
      font-size: 3.5rem; } }

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  width: 100%;
  position: absolute; }

.menu-list__item {
  cursor: pointer; }
  .menu-list__item.active .menu-list__hidden {
    display: block; }

.menu-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  float: left;
  position: relative; }
  .menu-list__link:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(47, 50, 52, 0.6);
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  @media screen and (max-width: 480px) {
    .menu-list__link {
      width: 3rem; } }

.menu-list__title {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font: 700 2.5rem Gagalin;
  white-space: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 100; }

.menu-list__pic {
  height: 100%;
  background-position-x: 20rem; }

.menu-list__text {
  font-family: 'Ubuntu';
  font-size: 14px;
  color: #fff;
  padding: 60px 30px;
  width: 33.75rem;
  line-height: 1.8; }
  @media screen and (max-width: 768px) {
    .menu-list__text {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .menu-list__text {
      font-size: 9.5px;
      padding: 10px 20px; } }

.menu-list__hidden {
  display: none;
  height: 100%;
  background: rgba(47, 50, 52, 0.93);
  overflow: hidden; }

.map {
  background: url(../img/content/4.jpg) center center no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.footer {
  background: url(../img/content/footer.jpg) center center no-repeat;
  background-size: cover;
  height: 58px;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .footer {
      height: 88px; } }

.footer-content {
  max-width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media screen and (max-width: 480px) {
    .footer-content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.left-block,
.right-block {
  width: 50%; }
  @media screen and (max-width: 480px) {
    .left-block,
    .right-block {
      width: 100%; } }

.left-block {
  padding-top: 6px; }

.right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media screen and (max-width: 480px) {
    .right-block {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.social__icon {
  display: inline-block;
  width: 1.4375rem;
  height: 1.4375rem;
  vertical-align: middle;
  fill: #fff;
  opacity: 0.3; }
  .social__icon:hover {
    opacity: 1; }

.svg-phone {
  width: 12px;
  height: 12px;
  fill: #e45028;
  display: inline-block;
  vertical-align: middle; }

.social {
  list-style: none;
  padding-top: 16px; }
  @media screen and (max-width: 480px) {
    .social {
      padding-top: 8px; } }

.social__item {
  display: inline-block;
  margin-left: 13px; }

.left-block__pic {
  display: inline-block;
  text-decoration: none;
  color: #e45028;
  font-weight: 700;
  padding-left: 0.1875rem;
  letter-spacing: -1px; }

.left-block__address {
  color: #ffffff;
  font-weight: 300;
  padding-bottom: 0.0625rem;
  letter-spacing: -1px; }
  @media screen and (max-width: 480px) {
    .left-block__address {
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .left-block__address {
      padding-bottom: 5px; } }

@media screen and (max-width: 480px) {
  .left-block__phone {
    text-align: center; } }

.fixed-menu {
  position: fixed;
  top: 90px;
  right: 40px; }
  @media screen and (max-width: 768px) {
    .fixed-menu {
      display: none; } }

.fixed-menu__link {
  width: 16px;
  height: 16px;
  display: block;
  position: relative; }

.fixed-menu__link:after,
.fixed-menu__link:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 50%; }

.fixed-menu__link:after {
  width: 6px;
  height: 6px;
  background: #fff; }

.fixed-menu__link:before {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  border: 1px solid #fff;
  opacity: 0;
  -webkit-transition: .3s;
  transition: .3s; }

.fixed-menu__link:hover:before {
  width: 14px;
  height: 14px;
  opacity: 1; }

.fixed-menu__item.active .fixed-menu__link:before {
  width: 14px;
  height: 14px;
  opacity: 1; }

.fixed-menu__item {
  margin-bottom: 5px; }

/*# sourceMappingURL=main.css.map */