.hero {
    background-image: url('../img/bg/hero_bg.png');
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: relative;
}

.header__menu {
    margin-top: rem(-10px);
    @include tablets() {
        display: none;
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(4px);
}

.header__logo {
    margin-right: auto;
}

.nav {
    margin-right: rem(16px);
    @include tablets {
        margin-right: 0;
    }
}

.nav__list {
    margin: 0;
    padding: 0;
    @include tablets {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
}

.nav__item {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    @include tablets {
        display: flex;
        flex-direction: column;
    }
    &:after {
        display: inline-block;
        vertical-align: middle;
        content: ' ';
        @include tablets {
            margin: 0.625rem auto;
        }
        @include circle(rem(5px),
        #fff);
        margin: 0 rem(12px);
    }
    &:last-child:after {
        display: none;
    }
}

.nav__link {
    color: #ffffff;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    transition: .5s;
    &:hover {
        text-decoration: underline;
        transition: .4s;
    }
    @include tablets {
        font-size: 1.8125rem;
    }
}

.hero__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero__pic {
    margin: rem(-87px) 0 0 rem(15px);
    max-width: 100%;
    height: auto;
    @include tablets {
        margin: 0;
    }
}

.next-page {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: rem(33px);
    &:hover {
        bottom: rem(27px);
    }
    @include phones {}
}

.next-page__item {}

.hero__content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin-top: rem(-83px);
    @include tablets {
        flex-direction: column;
        flex-wrap: nowrap;
    }
}

.logo__img {
    margin-top: rem(6px);
    margin-left: rem(-6px);
}

.hero__img,
.hero__description {
    width: 50%;
    display: flex;
}

.hero__img {
    align-items: center;
    @include phones {
        width: 80%;
    }
}

.hero__description {
    flex-direction: column;
    justify-content: center;
    padding-left: rem(10px);
    padding-bottom: rem(18px);
    @include tablets {
        padding-left: 0;
        align-items: center;
    }
}

.logo {
    display: inline-block;
}

.section__title {
    color: #f9b43b;
    font-family: 'Gagalin';
    font-size: rem(72px);
    font-weight: 500;
    line-height: 1.42;
    margin: 0;
    white-space: nowrap;
    @include phones {
        font-size: 4.375rem;
    }
}

.hero__description-text {
    color: #ffffff;
    font-family: 'Lifehack';
    font-size: rem(65px);
    font-weight: 500;
    line-height: 1;
    letter-spacing: rem(-1px);
    @include tablets {
        display: inline-block;
        text-align: center;
    }
    @include phones {
        font-size: 3.5rem;
    }
}