.menu {
    background: url(../../img/content/menu/Rectangle4.jpg)0 0 no-repeat;
    background-size: 100% 100%;
}

.menu__text {
    color: $white;
    font: 700 72px Gagalin;
    padding-bottom: 64px;
}

.menu-list {}

.menu__title {
    width: 80px;
    height: 100%;
}