.reviews {
    display: flex;
}

.reviews__list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.reviews__item {
    width: 25%;
    height: 50%;
    @include tablets {
        width: 50%;
        height: 25%;
    }
}

.review {
    height: 100%;
    position: relative;
    &:hover .review__hover {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.review__photo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    filter: grayscale(1);
}

.review__hover {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.7);
    opacity: 0;
    transition: .5s;
    padding: rem(50px) rem(30px) rem(0px) rem(20px);
    background-color: rgba(0, 1, 5, .7);
    @include tablets {
        padding: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @include phones {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.review__title {
    font-family: 'Gagalin';
    font-size: rem(14px);
    margin: rem(6px) 0 rem(20px) rem(3px);
    color: #fff;
    @include tablets {
        margin: 0;
        font-size: rem(14px);
        padding-bottom: 10px;
    }
}

.review__shorttext {
    color: #ffffff;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    margin-bottom: rem(10px);
    padding-left: rem(3px);
    @include tablets {
        font-size: rem(12px);
        line-height: initial;
    }
    @include phones {
        display: none;
        padding-top: 20px;
    }
}

.review__button-wrap {
    padding-left: rem(4px);
}

.review__view {
    display: inline-block;
    width: rem(110px);
    border-radius: rem(5px);
    background-color: $dark;
    padding: rem(10px) rem(15px);
    color: #ffffff;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    transition: .5s;
    &:hover {
        background-color: darken($dark, 5%);
    }
}

.fancy-box {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(-50%, -50%);
}

.fancy-box__block {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(255, 255, 255);
    max-width: 28.125rem;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Ubuntu, sans-serif;
    font-size: 0.875rem;
    line-height: 1.5rem;
    transform: translate(-50%, -50%);
    padding: 1.875rem 1.25rem;
    border-radius: 0.4375rem;
}

.fancy-box__title {
    font-family: Gagalin;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 1.5625rem;
}

.fancy-box__description {
    font-size: 0.875rem;
    font-family: Ubuntu-Light;
}

.close {
    position: absolute;
    right: 0.9375rem;
    top: 0.9375rem;
    width: 1.125rem;
    height: 1.125rem;
    box-sizing: content-box;
    background: url(../img/close.png) no-repeat;
    background-size: 100%;
    outline: none;
}

.fancybox-close-small {
    display: none;
}