    .team {
        background: url(../img/content/team/team.jpg) center center no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .team-right {
        background: #343739;
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100%;
        opacity: .9;
        @include tablets {
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* align-items: center; */
            width: 100%;
            text-align: center;
        }
    }
    
    .team-content {
        padding-top: 13%;
        margin-left: rem(90px);
        @include tablets {
            margin: 0;
            padding-top: 3%;
        }
    }
    
    .accordion {
        margin-left: -2%;
        list-style: none;
    }
    
    .team-content__text {
        color: $yellow;
        font: 500 rem(72px) Gagalin;
        padding-bottom: 14%;
        @include tablets {
            padding-bottom: 5%;
        }
    }
    
    .accordion__list {
        padding-bottom: rem(30px);
    }
    
    .accordion__item {
        cursor: pointer;
    }
    
    .accordion__title {
        color: $white;
        font: 500 rem(14px) Gagalin;
        cursor: pointer;
        margin-left: rem(9px);
        text-decoration: none;
        &:before {
            content: "";
            width: rem(0px);
            height: rem(0px);
            border: rem(6px) solid transparent;
            border-top-color: $yellow;
            border-bottom: none;
            margin-right: rem(6px);
            vertical-align: middle;
            display: inline-block;
        }
        @include tablets {
            font-size: 1.5625rem;
        }
    }
    
    .accordion__crew {
        margin-top: rem(10px);
        display: none;
    }
    
    .accordion__img {
        width: rem(100px);
        height: rem(100px);
        background: url(../img/content/team/aphex.png) -12px -1px no-repeat;
        border-radius: 50%;
        display: inline-block;
        margin-left: 1.625rem;
    }
    
    .accordion__description {
        display: inline-block;
        color: white;
        max-width: rem(233px);
        vertical-align: top;
        margin: rem(-2px) 0 0 rem(17px);
        @include tablets {
            margin: 0.875rem 0 0 rem(17px);
            max-width: 20.5625rem;
        }
    }
    
    .accordion__job {
        font: 700 rem(14px) Ubuntu;
        padding-bottom: rem(16px);
    }
    
    .accordion__text {
        font: 300 rem(14px) Ubuntu;
        line-height: rem(23px);
    }
    
    .accordion__list {
        margin-bottom: rem(5px);
        &.active {
            .accordion__crew {
                display: block;
                @include tablets {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                }
            }
            .accordion__title {
                color: $yellow;
                &:before {
                    transform: rotate(180deg);
                    margin-top: rem(-5px);
                }
            }
        }
    }