.footer {
    background: url(../img/content/footer.jpg) center center no-repeat;
    background-size: cover;
    height: 58px;
    width: 100%;
}

.footer-content {
    max-width: 940px;
    margin: 0 auto;
    display: flex;
}

.left-block,
.right-block {
    width: 50%;
}

.left-block {
    padding-top: 6px;
}

.right-block {
    display: flex;
    justify-content: flex-end;
}

.social__icon {
    display: inline-block;
    width: 1.4375rem;
    height: 1.4375rem;
    vertical-align: middle;
    fill: #fff;
    opacity: 0.3;
    &:hover {
        opacity: 1;
    }
}

.svg-phone {
    width: 12px;
    height: 12px;
    fill: #e45028;
    display: inline-block;
    vertical-align: middle;
}

.social {
    list-style: none;
    padding-top: 16px;
}

.social__item {
    display: inline-block;
    margin-left: 13px;
}

.left-block__pic {
    display: inline-block;
    text-decoration: none;
    color: #e45028;
    font-weight: 700;
    padding-left: 0.1875rem;
    letter-spacing: -1px;
}

.left-block__address {
    color: #ffffff;
    font-weight: 300;
    padding-bottom: 0.0625rem;
    letter-spacing: -1px;
}