                    .menu {
                        background: url(../img/content/menu/Rectangle4.jpg)center center no-repeat;
                        background-size: cover;
                        display: flex;
                        flex-direction: row;
                        position: relative;
                    }
                    
                    .menu__text {
                        color: $white;
                        font: 700 rem(72px) Gagalin;
                        padding-bottom: rem(64px);
                        display: inline-block;
                        padding: 6rem 0 0 6rem;
                        font-weight: 500;
                        @include phones {
                            padding: 6rem 0 0 3rem;
                            font-size: 3.5rem;
                        }
                    }
                    
                    .menu-list {
                        display: flex;
                        justify-content: flex-end;
                        height: 100%;
                        width: 100%;
                        position: absolute;
                    }
                    
                    .menu-list__item {
                        cursor: pointer;
                        &.active {
                            .menu-list__hidden {
                                display: block;
                            }
                        }
                    }
                    
                    .menu-list__link {
                        display: flex;
                        justify-content: center;
                        width: rem(80px);
                        height: 100%;
                        align-items: center;
                        overflow: hidden;
                        float: left;
                        position: relative;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            background-color: rgba(47, 50, 52, 0.6);
                            transition: 0.3s;
                        }
                        @include phones {
                            width: 3rem;
                        }
                    }
                    
                    .menu-list__link--meat {
                        background: url(../img/content/menu/1.jpg)56% 0% no-repeat;
                        background-size: cover;
                    }
                    
                    .menu-list__link--vegan {
                        background: url(../img/content/menu/2.jpg)99% 0% no-repeat;
                        background-size: cover;
                    }
                    
                    .menu-list__link--balans {
                        background: url(../img/content/menu/3.jpg)10% 0% no-repeat;
                        background-size: cover;
                    }
                    
                    .menu-list__title {
                        transform: rotate(270deg);
                        display: flex;
                        color: $white;
                        font: 700 rem(40px) Gagalin;
                        white-space: nowrap;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        z-index: 100;
                    }
                    
                    .menu-list__pic {
                        height: 100%;
                        background-position-x: 20rem;
                    }
                    
                    .menu-list__text {
                        font-family: 'Ubuntu';
                        font-size: 14px;
                        color: #fff;
                        padding: 60px 30px;
                        width: 33.75rem;
                        line-height: 1.8;
                        @include tablets {
                            width: 100%;
                        }
                        @include phones {
                            font-size: 9.5px;
                            padding: 10px 20px;
                        }
                    }
                    
                    .menu-list__hidden {
                        display: none;
                        height: 100%;
                        background: rgba(47, 50, 52, 0.93);
                        overflow: hidden;
                    }