    .order {
        background: url(../img/content/order/Rectangle6.jpg) center center no-repeat;
        background-size: cover;
    }
    
    .order__title {
        color: #f9b43b;
        font-family: 'Gagalin';
        font-size: rem(72px);
        font-weight: 400;
        line-height: 1.42;
        margin: 0 auto;
        margin-top: rem(-115px);
    }
    
    .order__form {
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: #fff;
        margin-top: rem(34px);
    }
    
    .order__block {
        width: 49%;
    }
    
    .order__label {
        display: flex;
        justify-content: space-between;
        padding-top: rem(13px);
    }
    
    .order__input {
        border-radius: rem(5px);
        display: block;
        width: 100%;
        height: rem(35px);
        border: none;
    }
    
    .order__desc {
        padding-bottom: rem(8px);
        display: inline-block;
    }
    
    .order__street {
        width: 100%;
    }
    
    .order__location {
        width: rem(100px);
    }
    
    .order__name {
        width: 49%;
    }
    
    .order__street {
        width: 100%;
    }
    
    .order__address {
        width: rem(100px);
    }
    
    .order__comment {
        padding: rem(10px) 0 0 rem(10px);
        display: block;
        width: 100%;
        height: rem(110px);
        resize: none;
        border: none;
        border-radius: rem(5px);
    }
    
    .order__block--padd {
        padding-top: 13px;
    }
    
    .order__offer {
        padding-top: rem(10px);
    }
    
    .order__money {
        display: flex;
        padding-top: rem(10px);
    }
    
    .order__reset {
        background: transparent;
        border: none;
        color: #fff;
    }
    
    .order__offer {
        display: flex;
    }
    
    .input-form__radio-fake {
        width: 0.9375rem;
        height: 0.9375rem;
        border-radius: 50%;
        background-color: #fff;
        position: relative;
        vertical-align: bottom;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 0.625rem;
        &:after {
            content: '';
            width: 0.4375rem;
            height: 0.4375rem;
            background-color: #e35028;
            border-radius: 50%;
            -webkit-transform: scale(0);
            transform: scale(0);
            -webkit-transition: .3s;
            transition: .3s;
        }
    }
    
    .order__radio {
        display: flex;
        cursor: pointer;
        margin-right: 1.3125rem;
        color: #fff;
        font-size: 0.875rem;
        font-weight: 300;
    }
    
    .order__money {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 0.9375rem;
    }
    
    .order__Elevation {
        display: none;
    }
    
    .order__radio {
        position: relative;
        white-space: nowrap;
        margin-right: 20px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    
    .order__radio-elem {
        position: absolute;
        top: 0;
        left: -9999px;
    }
    
    .order__radio-fake::after {
        content: "";
        display: block;
        position: absolute;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background: #e35028;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: width .3s, height .3s;
        transition: width .3s, height .3s;
    }
    
    .order__radio-fake {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    
    .order__radio-elem:checked+.order__radio-fake:after {
        width: 8px;
        height: 8px;
    }
    
    .order__radio_checkbox .order__radio-fake {
        border-radius: 0px;
    }
    
    .order__radio {
        position: relative;
        white-space: nowrap;
        margin-right: 20px;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    
    .order__radio-elem {
        position: absolute;
        top: 0;
        left: -9999px;
    }
    
    .order__radio-fake {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #fff;
        display: inline-block;
        vertical-align: middle;
        position: relative;
    }
    
    .order__radio-fake:after {
        content: "";
        display: block;
        position: absolute;
        width: 0px;
        height: 0px;
        border-radius: 50%;
        background: #e35028;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: width .3s, height .3s;
        transition: width .3s, height .3s;
    }
    
    .order__radio-elem:checked+.order__radio-fake:after {
        width: 8px;
        height: 8px;
    }
    
    .order__radio-title {
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        color: #fff;
        margin-left: 10px;
    }
    
    .order__radio_checkbox .order__radio-fake {
        border-radius: 0px;
    }
    
    .order__radio_checkbox .order__radio-elem+.order__radio-fake:after {
        background: transparent;
    }
    
    .order__radio_checkbox .order__radio-elem:checked+.order__radio-fake:after {
        background: url("../img/content/check.png") 50% no-repeat transparent;
        background-size: contain;
        width: 11px;
        height: 9px;
    }