.hamburger-menu-link {
    vertical-align: middle;
    position: relative;
    height: 1.375rem;
    align-items: center;
    margin-left: 1.875rem;
    display: none;
    @include tablets {
        display: inline-flex;
    }
}

.hamburger-menu-link__bars,
.hamburger-menu-link__bars:before,
.hamburger-menu-link__bars:after {
    background: #fff;
    width: 1.5rem;
    height: 0.3125rem;
    border-radius: 0.1875rem;
}

.hamburger-menu-link__bars:before,
.hamburger-menu-link__bars:after {
    content: "";
    display: block;
    position: absolute;
}

.hamburger-menu-link__bars:before {
    top: 0;
}

.hamburger-menu-link__bars:after {
    bottom: 0;
}

.hamburger-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(47, 50, 52, 0.99);
    margin: 0;
    display: none;
}

.hamburger-active {
    display: block;
}

.hamburger-menu__logo {
    position: absolute;
    top: 0.625rem;
    left: 1.875rem;
}

.hamburger-menu__close {
    position: absolute;
    right: 0.9375rem;
    top: 0.9375rem;
    width: 1.125rem;
    height: 1.125rem;
    padding: 0.9375rem;
    box-sizing: content-box;
    background: url(../img/x.png) no-repeat;
}

.hamburger-menu__close:hover .hamburger-menu__close-icon use {
    fill: #fff;
}

.hamburger-menu__close-icon {
    width: 100%;
    height: 100%;
}

.hamburger-menu__close-icon use {
    fill: #c1c2c2;
    transition: fill .3s;
}

.hamburger-menu__items {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}