* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus,
*:active,
*:hover {
    outline: none;
}

html {
    font-family: sans-serif;
    cursor: default;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    border: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    background: transparent;
}

h1,
h2,
h3 {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}