.header {
    padding-top: 17px;
    display: flex;
    justify-content: space-between;
}

.menu {
    color: #fff;
    display: flex;
}

.menu__item:first-child {
    list-style: none;
}

.menu__item:last-child {
    padding: 0 14px 9px 4px;
}

.menu__item {
    padding-right: 30px;
    padding-left: 6px;
}

.menu__link {
    font-family: Ubuntu-Medium;
    font-size: 13px;
    line-height: 30px;
    display: block;
    color: #fff;
    text-transform: uppercase;
}

.menu__order {
    padding: 10px 15px;
    background: #e45028;
    border-radius: 4px;
    margin-top: -8px;
    display: block;
    color: #fff;
    font: 700 13px Ubuntu;
    text-transform: uppercase;
}

.menu__order:hover {
    background: #c1401e;
}

.left-block__link {
    display: inline-block;
}

.right-block {
    display: flex;
    align-items: center;
}

.left-block {
    margin: -5px 0 0 43px;
}